doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title oracleと戯れてみようじゃないか 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 oracle
        h2 と戯れてみようじゃないか 
        h3 
        h3 2014.05.09 Fri. 
        h3 R.Fujimoto 

      section
        h2 今日のおまじない 
        code.language-bash.bullet.
          $ git clone git@bitbucket.org:gits_fujimoto/oracle-chef-spec.git 
          $ cd oracle-chef-spec
          $ sh cook-oracle  

      section
        h1 DBA 

      section
        h2 DBAがやりたいこと 
        ul 
          li 
          li oracleの動作検証 
          li schemaの変更管理

      section
        h1 とにかくoracle使える環境がほしい

      section
        h1 30分以内で!!! 

      section
        h1 oracle on AWS 

      section
        h1 EC2 | RDS 
        h3 <a href="http://www.slideshare.net/InsightTechnology/a31-oracle-yoshida">AWS上でOracleを利用するためのはじめの一歩</a> 

      section
        h2 EC2
        ul
          li oracleのインストールが必要 
          li sshして、sqlplusが使える 
          li expdp/impdp を実行できる 
          li <a href="https://aws.amazon.com/jp/ec2/pricing">無料利用枠</a>
          li Tokyo Region, m3.medium: $0.161/h 

      section
        h2 EC2
        ul
          li <a href="https://aws.amazon.com/jp/ec2/pricing"><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ec2-free-price" height="300" /></a>

      section
        h2 EC2
        ul
          li <a href="https://aws.amazon.com/jp/ec2/pricing"><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ec2-ondemand-price-rhel" height="300" /></a>

      section
        h2 RDS
        ul
          li oracleのインストールが不要（パラメータを選択するだけ） 
          li sshできない、(sqlplusが使えない) 
          li expdp/impdp を実行できない 
          li 無料利用枠なし 
          li Tokyo Region, db.m3.medium: $0.245/h 

      section
        h2 RDS
        ul
          li <a href="https://aws.amazon.com/jp/rds/pricing"><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/rds-ondemand-price-single" height="300" /></a>

      section
        h2 setup oracle on EC2 
        ul
          li 
          li <a href="http://tachesimazzoca.blogspot.jp/2013/01/3000001.html">oracle-xe 11gをインストール</a>
          li ti.microを使う場合の注意点

      section
        <a href="http://tachesimazzoca.blogspot.jp/2013/01/3000001.html"><img src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/oracle-xe_setup.png" height="400" /></a>

      section
        h1 私も使いたいと　いわれたら？ 

      section
        h1 URL教えるから　自分でやってみ 

      section
        h1 20分で　oracleを料理してみ

      section
        h2 setup oracle on EC2
        code.language-bash.bullet.
          $ git clone git@bitbucket.org:gits_fujimoto/oracle-chef-spec.git 
          $ cd oracle-chef-spec
          $ sh cook-oracle  

      section
        h2 <a href="https://bitbucket.org/gits_fujimoto/oracle-chef-spec">oracle-chef-spec.git</a> 

      section
        h2 oracleを料理するには？
        ul
          li 
          li レシピを作る
          li 調理する 
          li 味見をする

      section
        h2 oracleを料理するには？
        ul
          li <img alt="chef_spec_process.png" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/chef_spec_process.png" width="100%" />

      section
        h2 Continuous Integration 
        ul
          li <img alt="chef_spec_process.png" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/chef_spec_process.png" width="100%" />

      section
        h2 Infrastructure as Code 
        ul
          li <img alt="chef_spec_process_code.png" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/chef_spec_process_code.png" width="100%" />

      section
        h1 CI Process

      section
        h2 CI Process
        h3 [ruby, vagrant]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_01.jpg"><img alt="ci_process_01.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_01.jpg" width="50%" /></a>

      section
        h2 vagrant 
        <a href="http://www.vagrantup.com"><img alt="vagrant" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/vagrant" width="100%" /></a>

      section
        h2 build environmnet on Mac
        h3 [ruby(bundler), vagrant]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_02.jpg"><img alt="ci_process_02.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_02.jpg" width="50%" /></a>

      section
        h2 build environmnet on Mac
        h3 [ruby(bundler), vagrant]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/rubygems_bundler.png"><img alt="rubygems_bundler.png" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/rubygems_bundler.png" width="100%" /></a>

      section
        h2 build environmnet on Mac
        h3 [ruby(bundler,gems), vagrant]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_03.jpg"><img alt="ci_process_03.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_03.jpg" width="50%" /></a>

      section
        h2 chef 
        <a href="http://www.getchef.com/"><img alt="chef" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/chef" width="100%" /></a>

      section
        h2 serverspec 
        <a href="http://serverspec.org/"><img alt="serverspec" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/serverspec" width="100%" /></a>

      section
        h2 build environmnet on Mac
        h3 [ruby(bundler,gems), vagrant(plugins)]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_05.jpg"><img alt="ci_process_05.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_05.jpg" width="50%" /></a>

      section
        h2 build environmnet on Mac
        h3 [ruby(bundler,gems), vagrant(plugins)]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/vagrant_aws_plugin.png"><img alt="vagrant_aws_plugin.png" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/vagrant_aws_plugin.png" width="70%" /></a>

      section
        h2 code on Mac
        h3 [cookbooks/, site-cookbooks/, spec/]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_06.jpg"><img alt="ci_process_06.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_06.jpg" width="50%" /></a>

      section
        h2 rake aws:up
        h3 (vagrant up --provider=aws)
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_11.jpg"><img alt="ci_process_11.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_11.jpg" width="50%" /></a>

      section
        h2 rake aws:provision
        h3 (vagrant provision)
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_12.jpg"><img alt="ci_process_12.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_12.jpg" width="50%" /></a>

      section
        h2 rake aws:spec
        h3 (rspec spec/*)
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_13.jpg"><img alt="ci_process_13.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_13.jpg" width="50%" /></a>

      section
        h2 rake aws:ssh
        h3 (vagrant ssh)
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_14.jpg"><img alt="ci_process_14.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_14.jpg" width="50%" /></a>

      section
        h2 rake aws:destroy
        h3 (vagrant destroy)
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_15.jpg"><img alt="ci_process_15.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_15.jpg" width="50%" /></a>

      section
        h2 git push
        h3 [code to bitbucket]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_21.jpg"><img alt="ci_process_21.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_21.jpg" width="50%" /></a>

      section
        h2 bitbucket 
        <a href="http://bitbucket.org"><img alt="bitbucket" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/bitbucket" width="100%" /></a>

      section
        h2 hook & notify
        h3 [bitbucket -> hipchat -> Mac]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_23.jpg"><img alt="ci_process_23.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_23.jpg" width="50%" /></a>

      section
        h2 hipchat 
        <a href="https://www.atlassian.com/ja/software/hipchat/"><img alt="hipchat" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/hipchat" width="100%" /></a>

      section
        h2 CI on wercker
        h3 [hook & git clone & get wercker.yml]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_31.jpg"><img alt="ci_process_31.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_31.jpg" width="50%" /></a>

      section
        h2 wercker
        <a href="http://wercker.com/"><img alt="wercker" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/wercker" width="100%" /></a>

      section
        h2 CI on wercker
        h3 [build:steps setup]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_32.jpg"><img alt="ci_process_32.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_32.jpg" width="50%" /></a>

      section
        h2 CI on wercker
        h3 [build:steps rake aws:up]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_33.jpg"><img alt="ci_process_33.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_33.jpg" width="50%" /></a>

      section
        h2 CI on wercker
        h3 [build:steps rake aws:provision, spec, destroy]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_34.jpg"><img alt="ci_process_34.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_34.jpg" width="50%" /></a>

      section
        h2 notify
        h3 [wercker -> hipchat -> Mac]
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_35.jpg"><img alt="ci_process_35.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_35.jpg" width="50%" /></a>


      section
        h2 To be Growth Hacker
        h3 「レシピを作って、調理したら、味見をする」
        p ( codeを書いて、buildしたら、testする )
        h3  
        h3 というCI Processをwerckerで自動化し、
        h3 Gitリポジトリを共有するチームメンバーと
        h3 hipchatで情報共有を進化させよう

      section
        h1 Thank you.

      section
        h2 rake (--Rakefile)
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_41.jpg"><img alt="ci_process_41.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_41.jpg" width="50%" /></a>

      section
        h2 bundle (--Gemfile)
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_42.jpg"><img alt="ci_process_42.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_42.jpg" width="50%" /></a>

      section
        h2 vagrant (--Vagrantfile)
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_43.jpg"><img alt="ci_process_43.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_43.jpg" width="50%" /></a>

      section
        h2 chef (cookbooks/ --Berksfile)
        <a href="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_44.jpg"><img alt="ci_process_44.jpg" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ci_process_44.jpg" width="50%" /></a>

      section
        h2 chef (site-cookbooks/)

      section
        h2 serverspec (rspec spec/*)

      section
        h1 bespsoke.js
        h2 イケテル

      section
        h2.Bullet bespoke.jsを使おう
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
