doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title oracleと戯れてみようじゃないか 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 oracle
        h2 と戯れてみようじゃないか 

      section
        h2 今日のおまじない 
        code.language-bash.bullet.
          $ git clone https://gits_fujimoto@bitbucket.org/gits_fujimoto/jpt-chef.git  
          $ cd jpt-chef
          $ sh cook-oracle  

      section
        h1 DBA 

      section
        h2 DBAがやりたいこと 
        ul 
          li 
          li oracleの動作検証 
          li schemaの変更管理 

      section
        h1 とにかくoralce使える環境がほしい

      section
        h1 oracle on AWS 

      section
        h1 EC2 | RDS 
        h3 <a href="http://www.slideshare.net/InsightTechnology/a31-oracle-yoshida">AWS上でOracleを利用するためのはじめの一歩</a> 

      section
        h2 EC2
        ul
          li 
          li <a href="https://aws.amazon.com/jp/ec2/"><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ec2-free-price" height="300" /></a>
          li oracleのインストールが必要 
          li sshして、sqlplusが使える 

      section
        h2 EC2
        ul
          li 
          li <a href="https://aws.amazon.com/jp/ec2/"><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/ec2-ondemand-price-rhel" height="300" /></a>

      section
        h2 RDS
        ul
          li 
          li <a href="https://aws.amazon.com/jp/rds/"><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/rds-ondemand-price-single" height="300" /></a>
          li oracleのインストールが不要（パラメータを選択するだけ） 
          li sshできない、sqlplusが使えない 

      section
        h2 setup oracle on EC2 
        ul
          li 
          li <a href="http://tachesimazzoca.blogspot.jp/2013/01/3000001.html">oracle-xe 11gをインストール</a>
          li ti.microを使う場合の注意点

      section
        h1 私も使いたいと　いわれたら？ 

      section
        h1 URL教えるから自分でやってみ 

      section
        h1.bullet さくっとoracleを料理しましょ

      section
        h2 setup oracle on EC2
        code.language-bash.bullet.
          $ git clone https://gits_fujimoto@bitbucket.org/gits_fujimoto/jpt-chef.git  
          $ cd jpt-chef
          $ sh cook-oracle  

      section
        h2 bitbucket 
        <a href=""><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/bitbucket" width="100%" /></a>

      section
        h2 vagrant 
        <a href="http://www.vagrantup.com"><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/vagrant" width="100%" /></a>

      section
        h2 chef 
        <a href="http://www.getchef.com/"><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/chef" width="100%" /></a>

      section
        h2 serverspec 
        <a href="http://serverspec.org/"><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/serverspec" width="100%" /></a>

      section
        h2 wercker
        <a href="http://wercker.com/"><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/wercker" width="100%" /></a>

      section
        h2 hipchat 
        <a href=""><img alt="" src="https://s3-ap-northeast-1.amazonaws.com/my-tinygrab/hipchat" width="100%" /></a>

      section
        h1 Architecture 

      section
        h2 build environmnet on MAC

      section
        h2 code on MAC(Git)

      section
        h2 push to bitbucket(Git)

      section
        h2 notify (bitbucket -> hipchat)

      section
        h2 CI on wercker

      section
        h2 notify (wercker -> hipchat)

      section
        h2 chef 

      section
        h2 serverspec

      section
        h1 Thank you.

      section
        h1 bespsoke.js
        h2 イケテル

      section
        h2.Bullet bespoke.jsを使おう
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
